<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html" charset="utf-8" />


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Jquery google CDN 3.1.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Fichier CSS custom -->
    <link rel="stylesheet" href="{{ asset('/css/main.css')}}" >
    <link rel="stylesheet" href="{{ asset('/css/back.css')}}" >

    <!-- Google Font title ROBOTO -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- Google Font paragraphes et boutons SOURCE SANS PRO -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('/the-booster-favicon-ico.ico')}}" />
    <link rel="icon" type="image/png" href="{{ asset('/the-booster-favicon-16X16.png')}}" />


    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>


<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid nav_container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('front_homepage') }}"><img src="{{ asset('/img/logo-header-je-donne-2-heures-2.png')}}" alt="jd2h logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('donneur_index') }}">Donneur</a></li>
                    <li><a href="{{ path('entrepreneur_index')}}">Entrepreneur</a></li>
                    <li><a href="{{ path('back_logout')}}">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

</body>
</html>
