{% block body %}
    <div class="how_form_int col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.name, {label:'Nom :', 'attr':{'class' : 'form-control'} })}}
            </div>
            <div class="form-group">
                {{ form_row(form.firstName, {label:'Prénom :', 'attr':{'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.mailAddress, {label:'Email :', 'attr':{'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.company, {label:'Société ou Nom de votre projet :', 'attr':{'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.position, {label:'Ma fonction :', 'attr':{'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.activity, {label:"Mon secteur d'activité :", 'attr':{'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.town, {label:'Ville', 'attr':{'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.country, {label:'Pays', 'attr':{'class' : 'form-control'}}) }}
            </div>

            <p class="p_txt_form">En m'inscrivant, j'accepte de recevoir des nouvelles de The Booster.</p>

            <input type="submit" value="S'inscrire" />
        {{ form_end(form) }}
            <div class="row all_blsp_md"></div>
    </div>
{% endblock %}
