{% extends "base.html.twig" %}

{% block title %}Je Donne 2 Heures, le 1er site de crowdtiming{% endblock %}

{% block pageDescription %}The Booster est le 1er site de CrowdTiming qui met en relation les Boostés, des entrepreneurs désireux de concrétiser leurs idées et projets, avec les Boosters, ces personnes désireuses d'offrir une partie de leur temps libre pour faire bouger l'économie.{% endblock %}


{% block stylesheets %}
    <!-- Fichier CSS custom -->
    <link rel="stylesheet" href="{{ asset('css/home.css')}}" >
    <!-- Youtube load video on click script for index -->
    <script src="{{ asset('js/videoload.js')}}"></script>
{% endblock %}
{% block body %}



    <div id="home_carousel_conteneur">
        <div id="home_carousel">

            <div id="home_carousel_slide1" class="home_carousel_slide">
                <div class="home_carousel_visu">
                    <div class="home_carousel_presentation">
                        <h2 class="h2_txt_slide">FOOD & YOU</h2>
                        <p class="txt_slide">Révélez le Chef qui est en Vous !</p>
                    </div>
                </div>
            </div>
            <div id="home_carousel_slide2" class="home_carousel_slide">
                <div class="home_carousel_visu">
                    <div class="home_carousel_presentation">
                        <h2 class="h2_txt_slide">Comme Une Armoire</h2>
                        <p class="txt_slide">Une équipe qui sait se mettre en boîtes pour faire de la place chez vous !</p>
                    </div>
                </div>
            </div>
            <div id="home_carousel_slide3" class="home_carousel_slide">
                <div class="home_carousel_visu">
                    <div class="home_carousel_presentation">
                        <h2 class="h2_txt_slide">Tikaway</h2>
                        <p class="txt_slide">Vivez, Filmez, Partagez ... sans les mains</p>
                    </div>
                </div>
            </div>
            <div id="home_carousel_slide4" class="home_carousel_slide">
                <div class="home_carousel_visu">
                    <div class="home_carousel_presentation">
                        <h2 class="h2_txt_slide">Skware</h2>
                        <p class="txt_slide">Des étagères intelligentes et connectées</p>
                    </div>
                </div>
            </div>
            <div id="home_carousel_slide5" class="home_carousel_slide">
                <div class="home_carousel_visu">
                    <div class="home_carousel_presentation">
                        <h2 class="h2_txt_slide">2 Rives TV</h2>
                        <p class="txt_slide">La 1ère chaîne Euroméditerranéenne : une Mer, des Cultures !</p>
                    </div>
                </div>
            </div>

            <div class="home_carousel_navi" >
                <div class="home_carousel_nav-span">
                    <span class="home_carousel_navigation">1</span>
                    <span class="home_carousel_navigation">2</span>
                    <span class="home_carousel_navigation">3</span>
                    <span class="home_carousel_navigation">4</span>
                    <span class="home_carousel_navigation">5</span>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid home_carousel_container-fluid">
    <div class="row home_carousel_over">


        <div class="col-xs-12 home_carousel_block-over  bl home_carousel_title-over">
            <div class=" home_carousel_logo-over">
                <img class="home_carousel_img-logo" src="{{ asset('img/clock-tb-white-border.png') }}" alt="Logo je donne 2 heures" >
            </div>
            <h1 class="home_carousel_slogan">The Booster<br/>le 1er site de crowdtiming arrive prochainement</h1>
            <h3 class="home_carousel_inscription">Inscrivez-vous aujourd'hui</h3>

        </div>

        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 home_carousel_block-over bl home_carousel_jedonne-over">
            <h2 class="home_car_title">JE DONNE DU TEMPS</h2>
            <p class="txt_car">Particulier, je souhaite donner de mon temps libre pour aider une entreprise à naitre et à grandir.</p>
            <a href="{{ path('front_jedonne') }}" class="home_carousel_btn_lien">Je booste</a>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 home_carousel_block-over home_carousel_jepropose-over">
            <h2 class="home_car_title">JE PROPOSE UN PROJET</h2>
            <p class="txt_car">Entrepreneur, j'ai besoin d'aide pour me lancer, développer mon activité et réaliser mes projets.</p>
            <a href="{{ path('front_jepropose') }}" class="home_carousel_btn_lien">Je suis boosté</a>
        </div>
    </div>



    <!-- Transition row -->
    <div class="row hidden-xs home_btn_jqbar" id="home_btn_jqbar1" >
        <div class="col-xs-offset-3 col-xs-1 animated bounce">
            <img src="{{ asset('/img/arrowdown.png') }}" class="fa fa-angle-double-down">
        </div>

        <div class="col-xs-offset-0 col-xs-4 home_h3">
            <h3>Comment ça marche ?</h3>
        </div>

        <div class="col-xs-offset-0 col-xs-1 animated bounce">
            <img src="{{ asset('/img/arrowdown.png') }}" class="fa fa-angle-double-down">
        </div>
    </div>



    <div class="all_blsp_sm"></div>
    <!--Largeur : 10 en xs, 8 en sm, 6 en md & lg -->
    <div class="row home_row_video">
        <div class="col-xs-offset-1 col-xs-10 hr_video_hp">
            <h2 class="h2_hmpg">DÉCOUVREZ</h2>
            <h3 class="h3_hmpg"> Je Donne 2 Heures en Vidéo</h3>
            <hr>
        </div>
    </div>
    <div class="row" id="home_video_ext">

        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6" id="home_video_int">
            <iframe src="https://www.youtube.com/embed/7bFaw-IZ6Xo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="home_startup_title_img">
        <div class="row" id="home_startup_title">
            <div class="col-xs-offset-1 col-xs-10">
                <h2 class="h2_hmpg">ET SI VOUS DONNIEZ DU TEMPS À CES PROJETS !</h2>
                <h3 class="h3_hmpg">Découvrez les entrepreneurs et leurs projets. Choisissez l'aventure à laquelle vous donnerez de votre temps libre. </h3>
                <hr>
            </div>
        </div>

        <div class="row" id="home_startup_list">
            <!-- Positionnement des partenaires : l'un en dessous de l'autre en xs, 2 sur la même ligne en small, 3 / ligne en medium et large .
            xs 	|	|	|			partenaires			|	|	|

            sm 	|	|	partenaire	|	|	|	partenaire	|	|

            md+	|	| 	| parten|	| parten|	| partne|	|	|

            A voir : faire deux niveaux de bootstrap pour gerer le medium/ large et faire des 0,5 ? Ou maintenir la structure small pour med et juste passer à 3 pour lg ? Verif les resolution correspondantes.

            !! Offset diffère un peu suivant la gestion des offset au milieu des partenaires -->

            <a href="https://www.mutum.com" target="_blank">
                <div id="home_blimg_startup1" class="home_blimg_startup col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                    <div class="home_blimg_startuplogo">
                        <img src="{{ asset('img/logomutm.png')}}">
                    </div>
                </div>
            </a>

            <a href="https://www.foodandyou.fr/" target="_blank">
                <div id="home_blimg_startup2" class="home_blimg_startup  col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                    <div class="home_blimg_startuplogo">
                        <img src="{{ asset('img/logofoodandyou.png')}}">
                    </div>
                </div>
            </a>

            <a href="https://commeunearmoire.com/fr" target="_blank">
                <div id="home_blimg_startup3" class="home_blimg_startup  col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                    <div class="home_blimg_startuplogo">
                        <img src="{{ asset('img/logocua.png')}}">
                    </div>
                </div>
            </a>

            <a href="https://www.tikaway.com/fr/" target="_blank">
                <div id="home_blimg_startup4" class="home_blimg_startup col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                    <div class="home_blimg_startuplogo">
                        <img src="{{ asset('img/logotikaway.png')}}">
                    </div>
                </div>
            </a>

            <a href="http://www.skware.com/" target="_blank">
                <div id="home_blimg_startup5" class="home_blimg_startup  col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                    <div class="home_blimg_startuplogo">
                        <img src="{{ asset('img/loskware.jpg')}}">
                    </div>
                </div>
            </a>

            <a href="http://www.2rives.tv/" target="_blank">
                <div id="home_blimg_startup6" class="home_blimg_startup  col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                    <div class="home_blimg_startuplogo">
                        <img src="{{ asset('img/logo2rives.png')}}">
                        <h5>2 Rives TV</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>



    <div class="row" id="home_partenaire_list">
        <h2 class="h2_hmpg" id="partners_h2hmpg">NOS PARTENAIRES</h2>
        <hr>
        <img src="{{ asset('img/logowild.png')}}" class="img-responsive" alt="Logo Wild Code School">
    </div>
</div>



{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/car.js') }}"></script>
{% endblock %}