{% extends "base.html.twig" %}

{%  block title %}Bienvenue sur Je Donne 2 Heures{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row car">
        <div class="carousel" >
        </div>
    </div>

    <?php include_once "../src/inc/transitionrow.php"; ?>

    <div class="all_blsp_sm"></div>
    <!--Largeur : 10 en xs, 8 en sm, 6 en md & lg -->
    <div class="row home_row_video">
        <div class="col-xs-offset-1 col-xs-10">
            <h2 class="h2_hmpg">Découvrez Je Donne 2 Heures en Vidéo</h2>
        </div>
    </div>
    <div class="row" id="home_video_ext">

        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6" id="home_video_int">

            <iframe src="https://www.youtube.com/embed/7bFaw-IZ6Xo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row" id="home_startup_title">
        <div class="col-xs-offset-1 col-xs-10">
            <h2 class="h2_hmpg">Et si vous donniez du temps à ces entreprises, à ces projets !</h2>
            <p class="p_hmpg">Découvrez les entrepreneurs et leurs projets. Choisissez l'aventure à laquelle vous donnerez de votre temps libre. </p>
        </div>
    </div>

    <div class="row" id="home_startup_list">
        <!-- Positionnement des partenaires : l'un en dessous de l'autre en xs, 2 sur la même ligne en small, 3 / ligne en medium et large .
        xs 	|	|	|			partenaires			|	|	|

        sm 	|	|	partenaire	|	|	|	partenaire	|	|

        md+	|	| 	| parten|	| parten|	| partne|	|	|

        A voir : faire deux niveaux de bootstrap pour gerer le medium/ large et faire des 0,5 ? Ou maintenir la structure small pour med et juste passer à 3 pour lg ? Verif les resolution correspondantes.

        !! Offset diffère un peu suivant la gestion des offset au milieu des partenaires -->

        <a href="https://www.mutum.com" target="_blank">
            <div id="home_blimg_startup1" class="home_blimg_startup col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                <div class="home_blimg_startuplogo">
                    <img src="{{ asset('img/logomutm.png')}}">
                </div>
            </div>
        </a>

        <a href="https://www.foodandyou.fr/" target="_blank">
            <div id="home_blimg_startup2" class="home_blimg_startup  col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                <div class="home_blimg_startuplogo">
                    <img src="{{ asset('img/logofood&you.png')}}">
                </div>
            </div>
        </a>

        <a href="https://commeunearmoire.com/fr" target="_blank">
            <div id="home_blimg_startup3" class="home_blimg_startup  col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                <div class="home_blimg_startuplogo">
                    <img src="{{ asset('img/logocua.png')}}">
                </div>
            </div>
        </a>

        <a href="https://www.tikaway.com/fr/" target="_blank">
            <div id="home_blimg_startup4" class="home_blimg_startup col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                <div class="home_blimg_startuplogo">
                    <img src="{{ asset('img/logotikaway.png')}}">
                </div>
            </div>
        </a>

        <a href="http://www.skware.com/" target="_blank">
            <div id="home_blimg_startup5" class="home_blimg_startup  col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                <div class="home_blimg_startuplogo">
                    <img src="{{ asset('img/loskware.jpg')}}">
                </div>
            </div>
        </a>

        <a href="http://www.2rives.tv/" target="_blank">
            <div id="home_blimg_startup6" class="home_blimg_startup  col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-3 col-md-offset-1 col-md-2" >
                <div class="home_blimg_startuplogo">
                    <img src="{{ asset('img/logo2rives.png')}}">
                    <h5>2 Rives TV</h5>
                </div>
            </div>
        </a>

    </div>



    <div class="row" id="home_partenaire_list">
        <h2 class="h2_hmpg" id="partners_h2hmpg">Nos partenaires</h2>
        <img src="{{  asset('img/logowild.png')}}" class="img-responsive" alt="Logo Wild Code School">
    </div>
</div>



{% endblock %}