{% extends "base.html.twig" %}

{%  block title %}Je donne | The Booster{% endblock %}

{% block pageDescription %}Je souhaite donner de mon temps libre pour aider l'Entrepreuneriat et faire bouger l'Économie{% endblock %}

{%  block body %}

<div class="container-fluid">

    <div class="row all_blsp_xs"></div>

    <div class="row">

        <div class="how_bloctxt_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8" id="howp_bltxt">

            <h1 class="h1_toppage">JE DONNE DU TEMPS </h1>
            <hr>
            <h2 class="h2_toppage">N'investissez pas, investissez-vous !</h2>
            <p class="p_toppage">Étudiants, Salariés, Entrepreneurs, Entre deux jobs, Indépendants ou Séniors, aidez concrètement l'Entrepreneuriat et soyez acteurs de l’Économie de demain. Faites naître, grandir ou accélérer les plus belles idées et les plus beaux projets. Avec The Booster donnez du sens à votre temps libre.</p>
        </div>
    </div>

    <div class="row how_btn_inscript">
        <div class="col-xs-offset-1 col-xs-10">
            <a href="#inscriptp" class="btn btn-default how_btn_transon">Je sais déjà comment ça marche, je m'inscris !</a>
        </div>
        <div class="col-xs-offset-1 col-xs-10">
            <p class="text-muted">Je ne sais pas comment ça marche, je continue de lire.</p>
        </div>
    </div>

    <div class="row all_blsp_sm"></div>

    <div class="row">
        <div class="how_je_donne"> </div>
    </div>

    <!--
    <div class="row how_blocimg_ext">
        <div class="how_blocimg_int col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
            <img class="how_blocimg_img" alt="Je donne du temps" src="{{ asset("/img/Photo%20d'ambiance%20Offr'Heures2.jpg")}}">
        </div>
    </div>
    -->



    <div class="row how_bloctxt_ext">
        <div class="how_bloctxt_int col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8" id="howp_bltxt">
            <h2 class="who_h2">Offrez de votre temps libre !</h2>
            <h3 class="who_h3" id="who_h3_je_donne">The Booster, comment ça marche ?</h3>

                <div class="block_icons_who">
                    <div class="row" id="1st_block_icon">
                        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
                            <img src="{{ asset('../img//icon-the-booster-computer2.png')}}" class="img-responsive icon_je_donne"></a>
                            <p class="txt_list margin_txt">L'inscription sur The Booster est gratuite. Devenez un "Booster". Vous accédez dès votre arrivée à un espace personnel dédié afin de vous présenter librement (vidéo, photos et textes). Vous décrivez vos compétences de façon déclarative, pas de dépôt de CV, pas de références nécessaires c'est vous qui décidez, vous qui personnalisez.</p><br/>
                        </div>
                        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
                            <img src="{{ asset('../img/icon-the-booster-mask.png')}}" class="img-responsive icon_je_donne"></a>
                            <p class="txt_list margin_txt">Vos informations sont confidentielles, elles sont invisibles aux visiteurs du site et ne sont dévoilées aux "Boostés" qu'avec votre accord lors d'un processus de matching sécurisé. Une messagerie interne vous permet d'échanger librement et de décider de transmettre vos coordonnées. <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
                            <img src="{{ asset('../img/icon-the-booster-free.png') }}" class="img-responsive icon_je_donne"></a>
                            <p class="txt_list margin_txt">Sur The Booster tout est gratuit pour ceux qui désirent offrir leur temps libre, les "Boosters". Aucun frais caché ou supplémentaire ne vous sera jamais demandé. Vous donnez votre temps, pas votre argent.</p><br/>
                        </div>
                        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
                            <img src="{{ asset('../img/icon-the-booster-handshake.png') }}" class="img-responsive icon_je_donne"></a>
                            <p class="txt_list margin_txt">The Booster est la 1ère plateforme qui vous permet de donner du temps et d'offrir vos compétences aux porteurs de projets, aux entrepreneurs, aux Startup et aux entreprises afin de Booster leurs réussites !  <br/>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="row p_add">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-10">
            <p class=" p_add_booster">En faisant grandir des projets, vous grandissez aussi : élargir son champ des possibles, valoriser ses compétences et développer son réseau.</p>
        </div>
    </div>



    <div class="row all_blsp_xs how_btn_transoff"></div>

        <div class="row how_form_ext">
            <div class="how_form_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6"><a name="inscriptp"></a>
            </div>
            <div class="how_form_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4" id="howp_form">
                <h2 class="who_h2">Inscrivez-vous !</h2>
                <h3 class= "who_h3">Vous désirez offrir du temps ? Vous souhaitez vous tenir informé du lancement de The Booster ?</h3>
            </div>

    <!-- <div class="row all_blsp"></div> -->

    {{ include('donneur/new.html.twig', {'donneur' : donneur, 'form' : form} ) }}

        </div>

</div>

{%  endblock %}