{% extends "base.html.twig" %}

{%  block title %}Je propose | Je Donne 2 Heures{% endblock %}

{%  block body %}

    <div class="container-fluid">

        <div class="row all_blsp_xs"></div>

        <div class="row">
            <div class="how_bloctxt_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8" id="howp_bltxt">
                <h1 class="h1_toppage">JE PROPOSE UN PROJET <br/></h1>
                <hr>
                <h2 class="h2_toppage"> Vous êtes porteur d'un projet ? Vous êtes entrepreneur et vous venez de démarrer ? Vous voulez faire grandir votre entreprise ?</h2>
                <p class="p_toppage">Vous avez des envies, des idées, des rêves et des besoins, mais pas encore tous les moyens.<span>Je Donne 2 Heures</span> est fait pour Vous ! Grâce à notre plateforme, le monde entier est là pour vous apporter son soutien. Soyez les premiers à être tenus au courant du lancement de notre plateforme et donner vie à vos plus beaux projets. </p>
            </div>
        </div>

        <div class="row how_btn_inscript">
            <div class="col-xs-offset-1 col-xs-10">
                <a href="#inscriptb" class="btn btn-default how_btn_transon">Je sais déjà comment ça marche, je m'inscris !</a>
            </div>
            <div class="col-xs-offset-1 col-xs-10">
                <p class="text-muted">Je ne sais pas comment ça marche, je continue de lire.</p>
            </div>
        </div>

        <div class="row all_blsp_sm"></div>

        <div class="row">
            <div class="how_je_propose"> </div>
        </div>

        <!--
        <div class="row how_blocimg_ext">
            <div class="how_blocimg_int col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <img class="how_blocimg_img" alt="Je propose un projet" src="{{ asset("/img/jepropose.jpg") }}">
            </div>
        </div>
        -->

        <div class="row all_blsp_sm"></div>

        <div class="row how_bloctxt_ext">
            <div class="how_bloctxt_int col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8" id="howp_bltxt">
                <h2 class="who_h2"> Entrepreneurs</h2>
                <h3 class="who_h3">Je Donne 2 Heures, comment ça va marcher ?</h3>

                     <div class="block_icons_who">
                         <div class="row" id="1st_block_icon">
                             <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
                                 <img src="{{ asset('../img/icon-je-donne-2-heures-computer2.png') }}" class="img-responsive icon_je_donne"></a>
                                 <p class="txt_list margin_txt">L'inscription à <span>Je Donne 2 Heures</span> se fait en ligne sur le site et est gratuite.</p>
                             </div>
                             <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
                                 <img src="{{ asset('../img/icon-je-donne-2-heures-presentation.png') }}" class="img-responsive icon_je_donne"></a>
                                 <p class="txt_list margin_txt">Vous accédez dès votre arrivée à un espace personnel dédié, afin de présenter librement votre projet ou votre entreprise (vidéo, photos et textes).</p>
                             </div>
                         </div>

                         <div class="row">
                             <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
                                 <img src="{{ asset('../img/icon-je-donne-2-heures-conversation.png') }}" class="img-responsive icon_je_donne"></a>
                                 <p class="txt_list margin_txt">Cet espace vous sert également à proposer vos projets et donc à solliciter l'aide du grand public.<span> Je Donne 2 Heures</span> vous offre votre premier projet. Par la suite, différentes formules payantes vous serons proposées.</p>
                             </div>

                             <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
                                 <img src="{{ asset('../img/icon-je-donne-2-heures-secured-matching.png') }}" class="img-responsive icon_je_donne"></a>
                                 <p class="txt_list margin_txt">Grâce à un processus de matching sécurisé, <span>Je Donne 2 Heures</span> vous met en relation avec les personnes qui désirent vous offrir de leur temps libre pour faire aboutir vos projets.</p>
                             </div>
                         </div>
                     </div>
            </div>
        </div>

        <div class="row all_blsp_xs how_btn_transoff"></div>

        <div class="row how_form_ext">
            <div class="how_form_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" id="howb_form"><a name="inscriptb"></a>
            </div>
            <div class="how_form_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" id="howp_form">
                <h2 class="who_h2">Inscrivez-vous !</h2>
                <H3 class="who_h3">Vous êtes intéressé pour déposer un projet ? Vous souhaitez vous tenir informé du lancement de <span>Je Donne 2 Heures</span> ?</div>
            </div>
            <div class="how_form_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
            </div>
        </div>

       <!-- <div class="row all_blsp"></div> -->

        {{ include('entrepreneur/new.html.twig', {'entrepreneur' : entrepreneur, 'form' : form} ) }}

    </div>

{%  endblock %}