{% extends "base.html.twig" %}

{% block title %}Qui sommes-nous ? | Je Donne 2 Heures{% endblock %}

{% block pageDescription %}Vous avez des questions ? Vous voulez nous rencontrer ? Prendre un café ? Contactez-nous{% endblock %}

    {%  block body %}

    <div class="container-fluid">
        <div class="row all_blsp_xs all_blsp_sm all_blsp_md"></div>

        <div class="row all_blsp">
            <div class="who_bltxt col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <h1 class="h1_toppage" id="whoh1_toppage">QUI SOMMES-NOUS ?</h1>
                <hr>
            </div>
        </div>
        <div class="row who_blocimg">
            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-2 col-sm-3 col-md-offset-3 col-md-2" id="who_blocimg_pic1">
                <img src="{{ asset('/img/the-booster-guylaine-antonini.png')}}" class="img-responsive who_img_portrait" alt="Guylaine Antonini cofondatrice Je Donne 2 Heures">
                <div class="who_blocsoc">
                    <h2>Guylaine Antonini</h2>
                    <div>
                        <a href="https://twitter.com/Guyylaine" target="_blank"><img src="{{ asset('/img/twitter-the-booster-black.png')}}" alt="Twitter guylaine Je Donne 2 Heures"></a>
                        <a href="https://fr.linkedin.com/in/guylaineantonini" target="_blank"><img src="{{ asset('/img/linkedin-the-booster-black.png')}}" alt="Linkedin Guylaine Je Donne 2 Heures"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-2 col-sm-3 col-md-offset-2 col-md-2" id="who_blocimg_pic2">
                <img src="{{ asset('/img/the-booster-nicolas-antonini.png')}}" class="img-responsive who_img_portrait" alt="Nicolas Antonini cofondateur Je Donne 2 Heures">
                <div class="who_blocsoc">
                    <h2>Nicolas Antonini</h2>
                    <div>
                        <a href="https://twitter.com/nicolasantonini" target="_blank"><img src="{{ asset('/img/twitter-the-booster-black.png')}}" alt="Twitter Nicolas Je Donne 2 heures"></a>
                        <a href="https://fr.linkedin.com/in/nicolasantonini" target="_blank"><img src="{{ asset('/img/linkedin-the-booster-black.png')}}" alt="Linkedin Nicolas Je Donne 2 Heures"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row who_bltxt" id="who_bltxt_ext">
            <div class=" who_bltxt col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8" id="who_bltxt_int">
                <p>
                    The Booster : et si votre temps valait bien plus que de l'argent ? Avec The Booster pas besoin d'Investir, Investissez-vous ! The Booster permet à toutes et à tous de devenir acteur de l'Entrepreneuriat et permet de faire grandir l'Économie. Donnez de votre temps à des Entrepreneurs, à des porteurs de projets et aidez les à donner vie à leurs idées, à passer à l'action, à accélerer. En rejoignant la communauté des "Boosters" (celles et ceux qui offrent du temps) recevez en retour une multitude d'opportunités : faire des rencontres enrichissantes et inattendues, participer à des aventures inédites, se découvrir de nouvelles compétences, propulser la réussite d'une entreprise, faire partie d'une équipe et pourquoi pas même changer de vie... Grâce à The Booster rendez enfin utile, une ressource inépuisable que nous possédons toutes et tous : le temps libre ! The Booster c'est donner du sens à votre temps libre.
                </p>
            </div>
        </div>

        <div class="row who_form_ext">
            <div class="who_form_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" id="who_form">
                <h2 class="text-center who_h2" id="contactus">Contactez-nous !</h2>
                <h3 class="who_h3">Vous avez des questions ? Vous voulez nous rencontrer, prendre un café ?</h3>
            </div>
            <div class="who_form_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Envoyer la demande de contact" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{%  endblock %}